.App {
  text-align: center;
  background-color: #000000;
  color: azure;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin: auto;
}

header {
  padding: 30px;
  font-family: "Permanent Marker", cursive;
  font-weight: 700;
  font-size: 37px;
  line-height: 100%;
  letter-spacing: 0.01em;
  text-align: center;
  left: 0;
  right: 0;
  pointer-events: none;
}

.wgrid {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin: auto;
  padding-bottom: 20px;
}

.wline {
  display: flex;
  align-items: center;
  align-content: center;
  margin: auto;
}

.wcell {
  padding: 20px;
  margin: 3px;
  width: 20px;
  height: 25px;
  border: solid;
  border-color: #3a3a3c;
  border-width: 2px;
  font-size: x-large;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  vertical-align: middle;
  text-transform: uppercase;
}

.right {
  background-color: #538d4e;
  border-color: #538d4e;
}

.hint {
  background-color: #b59f3b;
  border-color: #b59f3b;
}

.wrong {
  background-color: #3a3a3c;
}

.hg-theme-default.myTheme {
  max-width: 850px;
  background-color: rgba(0, 0, 0, 0.8);
  background: #000000;
  color: white;
  text-transform: uppercase;
  padding-bottom: 150px;
}

.simple-keyboard.hg-layout-default .hg-button.myGrey {
  background: #818384;
  color: white;
  font-weight: bold;
}

.simple-keyboard.hg-layout-default .hg-button.buttonright {
  background: #538d4e;
  border-color: #538d4e;
  font-weight: bold;
}

.simple-keyboard.hg-layout-default .hg-button.buttonhint {
  background: #b59f3b;
  border-color: #b59f3b;
  font-weight: bold;
}

.simple-keyboard.hg-layout-default .hg-button.buttonwrong {
  background: #3a3a3c;
  border-color: #3a3a3c;
  font-weight: bold;
}
