.App {
  text-align: center;
  background-color: #000000;
  color: azure;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin: auto;
}

.headdiv {
  position: relative;
}

header {
  padding: 30px;
  font-family: "Permanent Marker", cursive;
  font-weight: 700;
  font-size: 37px;
  line-height: 100%;
  letter-spacing: 0.01em;
  text-align: center;
  left: 0;
  right: 0;
  pointer-events: none;
}

h2 {
  padding: 0.5em;
  padding-bottom: 0;
  margin: 0;
  font-family: "Permanent Marker", cursive;
  font-weight: 700;
  font-size: 25px;
  line-height: 100%;
  letter-spacing: 0.01em;
  text-align: center;
  left: 0;
  right: 0;
  pointer-events: none;
}

.reloaderpng {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 75%;
  top: 40%;
  z-index: 20000;
  background-color: transparent;
  border: none;
  filter: brightness(0) invert(1);
  cursor: pointer;
  visibility: hidden;
}

.wgrid {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin: auto;
  padding-bottom: 20px;
}

.wline {
  display: flex;
  align-items: center;
  align-content: center;
  margin: auto;
}

.shake {
  animation: shake 0.3s;
}

@keyframes shake {
  20% {
    transform: translateX(-2%);
  }

  40% {
    transform: translateX(5%);
  }

  60% {
    transform: translateX(-5%);
  }

  80% {
    transform: translateX(2%);
  }

  100% {
    transform: translateX(0);
  }
}

.wcell {
  padding: 20px;
  margin: 3px;
  width: 20px;
  height: 25px;
  border: solid;
  border-color: #3a3a3c;
  border-width: 2px;
  font-size: x-large;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  vertical-align: middle;
  text-transform: uppercase;
}

.filled {
  border-color: #565758;
  animation: pop 0.15s;
}

@keyframes pop {
  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.right {
  background-color: #538d4e;
  border-color: #538d4e;
}

.hint {
  background-color: #b59f3b;
  border-color: #b59f3b;
}

.wrong {
  background-color: #3a3a3c;
}

.flip {
  animation: flip 0.7s;
}

@keyframes flip {
  50% {
    transform: rotateX(90deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}

.hop {
  animation: hop 0.2s;
}

@keyframes hop {
  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

.hg-theme-default.myTheme {
  max-width: 850px;
  background-color: rgba(0, 0, 0, 0.8);
  background: #000000;
  color: white;
  text-transform: uppercase;
  padding-bottom: 150px;
}

.simple-keyboard.hg-layout-default .hg-button.myGrey {
  background: #818384;
  color: white;
  font-weight: bold;
}

.simple-keyboard.hg-layout-default .hg-button.buttonright {
  background: #538d4e;
  border-color: #538d4e;
  font-weight: bold;
}

.simple-keyboard.hg-layout-default .hg-button.buttonhint {
  background: #b59f3b;
  border-color: #b59f3b;
  font-weight: bold;
}

.simple-keyboard.hg-layout-default .hg-button.buttonwrong {
  background: #3a3a3c;
  border-color: #3a3a3c;
  font-weight: bold;
}

.scorebox {
  width: 300px;
  height: auto;
  background-color: #000000;
  padding: 1em;
  border-style: solid;
  border-color: grey;
  border-width: 2px;
  position: absolute;
  top: 5vh;
  animation: flyin 0.5s;
}

@keyframes flyin {
  0% {
    transform: translateX(200%);
  }

  90% {
    transform: translateX(-8%);
  }

  100% {
    transform: translateX(0);
  }
}

.closeIcon {
  width: 18px;
  height: 18px;
  position: absolute;
  right: 15px;
  cursor: pointer;
}

/* https://github.com/animate-css/animate.css/issues/934 */
@media (prefers-reduced-motion: reduce) {
  .wcell {
    /* Stop the animation */
    animation: none;

    /* Provide alternate styling */
    background-color: #47ACFA;
    border: none;
    border-radius: 0;
    box-shadow: none;
    height: 30vh;
    width: 30vh;
  }
}