.App {
  text-align: center;
  background-color: #000000;
  color: azure;
  border-color: azure;
  height: 100vh;
}

header {
  font-size: xx-large;
  padding: 50px;
}

.wgrid {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin: auto;
}

.wline {
  display: flex;
  align-items: center;
  align-content: center;
  margin: auto;
}

.wcell {
  padding: 20px;
  margin: 5px;
  width: 20px;
  height: 25px;
  border: solid;
  border-width: 1px;
  font-size: x-large;
}

.right {
  background-color: green;
  color: #000000;
}

.hint {
  background-color: yellow;
  color: #000000;
}
